.header {
    color: white;
    padding: 25px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-weight: normal;
}

.header h1 a {
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header nav a {
    color: white;
    text-decoration: none;
}

.header nav a:hover {
    text-decoration: underline;
}
